/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    genome_fasta            = 'https://raw.githubusercontent.com/nf-core/test-datasets/atacseq/reference/genome.fa'
    illumina_reads          = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/samplesheet/samplesheet_test.csv'
    nanopore_reads          = 'https://raw.githubusercontent.com/nf-core/test-datasets/nanoseq/fastq/test.fastq.gz'
    rna_reads               = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/samplesheet/samplesheet_test.csv'
    protein_db              = 'https://raw.githubusercontent.com/nf-core/test-datasets/proteinfold/samplesheet.csv'
    rfam_db                 = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/genome.fasta'
    tpseudnana_cds         = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/genome.fasta'
    reference_genomes       = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/genome.fasta'

    // Reduce resource requirements for all processes
    min_mapping_quality     = 10
    min_base_quality        = 10
    min_coverage            = 2
    min_depth               = 5
    min_quality             = 5
    trinity_max_memory      = '4G'
    trinity_cpu             = 2
    maker_cpus              = 2
}